:root {
    --text-color: violet;
}

h1 {
    color: var(--text-color)
}
h3 {
    --main-color: red;
}
/* Có 2 cách đặt biển: 
    1: global (Đặt biến toàn cục)
    2: local  (Đặt biến cục bộ)
*/
#hinhvuong {
    width: 40%;
    height: 50%;
}